Repository ltphongssvn/autoloanAngularSpringBoot: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-json, validate-yaml, lint-frontend, compile-backend, test-backend, test-frontend

validate-json:
  name: Validate JSON Files
  entry: bash -c 'for f in "$@"; do python3 -c "import json,sys; json.load(open(sys.argv[1]))" "$f" || exit 1; done' --
  language: system

validate-yaml:
  name: Validate YAML Files
  entry: bash -c 'for f in "$@"; do python3 -c "import yaml,sys; yaml.safe_load(open(sys.argv[1]))" "$f" || exit 1; done' --
  language: system

lint-frontend:
  name: Angular Lint (Frontend)
  entry: bash -c 'cd frontend && npx ng lint'
  language: system
  pass_filenames: false

compile-backend:
  name: Maven Compile (Backend)
  entry: bash -c 'cd backend && mvn compile -q'
  language: system
  pass_filenames: false

test-backend:
  name: Backend Unit Tests (Maven + JaCoCo)
  entry: bash -c 'cd backend && mvn test -q'
  language: system
  pass_filenames: false

test-frontend:
  name: Frontend Unit Tests (Vitest)
  entry: bash -c 'cd frontend && npx ng test --no-watch'
  language: system
  pass_filenames: false

feat(model): add personalInfo, employmentInfo, carDetails, documents, statusHistories to LoanApplicationResponse
  frontend/src/app/core/models/loan.model.ts
Due: lint-frontend, test-frontend

feat(loan-detail): add Personal Info and Employment cards, header bar, loading spinner
  frontend/src/app/features/loan/loan-detail.ts
Due: lint-frontend, test-frontend

feat(status): add stepper, status descriptions, styled cards, header bar, timeline
  frontend/src/app/features/loan/status.ts
Due: lint-frontend, test-frontend

feat(agreement): add signature canvas, congrats banner, agreement doc preview, signed state
  frontend/src/app/features/loan/agreement.ts
Due: lint-frontend, test-frontend

feat(loan-officer-detail): two-column layout, info cards, verification checklist, decision center
  frontend/src/app/features/dashboard/loan-officer-detail.ts
Due: lint-frontend, test-frontend

feat(request-docs-modal): polish styling, add Other text input, match design system
  frontend/src/app/shared/request-documents-modal.ts
Due: lint-frontend, test-frontend

feat(underwriter-detail): two-column layout, risk assessment, loan calc, decision center
  frontend/src/app/features/dashboard/underwriter-detail.ts
Due: lint-frontend, test-frontend

fix(docker): use root-level Dockerfile.backend/frontend with context
  docker-compose.yml
Due: validate-yaml

fix(integration): use JUnit5 ExecutionCondition to skip when Docker unavailable
  backend/src/test/java/com/autoloan/backend/integration/BaseIntegrationTest.java
  backend/src/test/java/com/autoloan/backend/integration/DockerAvailableCondition.java
Due: compile-backend, test-backend

chore: add .dockerignore to exclude node_modules, target, dist
  .dockerignore
Due: none

fix(docker): remove fragile dependency:go-offline, add npm retry
  Dockerfile.backend
  Dockerfile.frontend
Due: none

fix: nginx proxy - use envsubst template vars for PORT and BACKEND_URL with DNS resolver and timeouts
  frontend/nginx.conf
Due: none

fix: Dockerfile.frontend uses envsubst to inject PORT and BACKEND_URL at startup
  Dockerfile.frontend
Due: none

fix: use proxy_host for Host header to route correctly to backend public domain
  frontend/nginx.conf
Due: none

fix: use Railway internal DNS resolver 127.0.0.11 with internal domain to avoid proxy loop
  frontend/nginx.conf
Due: none

fix: use backend public URL directly instead of nginx proxy to resolve 502
  frontend/src/environments/environment.prod.ts
Due: lint-frontend, test-frontend

fix: handle all response shapes (array, paginated, double-wrapped) in getApplications
  frontend/src/app/core/services/loan.service.ts
Due: lint-frontend, test-frontend

fix: convert loading and errorMessage to signals for proper change detection in production
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

fix: role-based redirect after login for LOAN_OFFICER and UNDERWRITER
  frontend/src/app/features/auth/login.ts
Due: lint-frontend, test-frontend

fix: handle double-wrapped response in loan officer service list()
  frontend/src/app/core/services/loan-officer.service.ts
Due: lint-frontend, test-frontend

fix: handle double-wrapped response in underwriter service list()
  frontend/src/app/core/services/underwriter.service.ts
Due: lint-frontend, test-frontend

fix: loan officer stats match actual statuses (DRAFT for New, PENDING_DOCUMENTS for Verifying)
  frontend/src/app/features/dashboard/loan-officer-dashboard.ts
Due: lint-frontend, test-frontend

fix: role-aware Dashboard nav link for LOAN_OFFICER and UNDERWRITER
  frontend/src/app/shared/navigation.ts
Due: lint-frontend, test-frontend

fix: remove redundant Officer Queue and Underwriter Queue nav links
  frontend/src/app/shared/navigation.ts
Due: lint-frontend, test-frontend

docs: add comprehensive README with tech stack and project details
  README.md
Due: none

Path conditions:
  validate-json: any of: \.json$, but not: (node_modules/|.vscode/|tsconfig.*.json)
  validate-yaml: any of: \.(yaml|yml)$
  lint-frontend: any of: ^frontend/src/.*\.(ts|html)$
  compile-backend: any of: ^backend/src/.*\.java$
  test-backend: any of: ^backend/src/.*\.java$
  test-frontend: any of: ^frontend/src/.*\.(ts|html)$
