Repository ltphongssvn/autoloanAngularSpringBoot: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-json, validate-yaml, lint-frontend, compile-backend, test-backend, test-frontend

Path conditions:
  validate-json: any of: \.json$, but not: (node_modules/|.vscode/|tsconfig.*.json)
  validate-yaml: any of: \.(yaml|yml)$
  lint-frontend: any of: ^frontend/src/.*\.(ts|html)$
  compile-backend: any of: ^backend/src/.*\.java$
  test-backend: any of: ^backend/src/.*\.java$
  test-frontend: any of: ^frontend/src/.*\.(ts|html)$

feat: add LoadingSkeletonComponent with card, table, form, text variants and shimmer animation, 6 tests
  frontend/src/app/shared/loading-skeleton.spec.ts
  frontend/src/app/shared/loading-skeleton.ts
Due: lint-frontend, test-frontend

fix: formatStatus lowercase before capitalize, formatDate avoid timezone shift
  frontend/src/app/shared/format-utils.spec.ts
  frontend/src/app/shared/format-utils.ts
Due: lint-frontend, test-frontend

feat: replace default Angular placeholder with app shell integrating Navigation, Toast, ErrorBoundary
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/app/app.ts
Due: lint-frontend, test-frontend

fix: update auth service tests to flush DELETE logout and add getMe test
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/auth.service.ts
Due: lint-frontend, test-frontend

feat: add backend Dockerfile with multi-stage build
  backend/Dockerfile
Due: none

feat: add frontend Dockerfile with multi-stage build and nginx
  frontend/Dockerfile
Due: none

feat: add nginx config for SPA routing and API proxy
  frontend/nginx.conf
Due: none

feat: add docker-compose with PostgreSQL, backend, and frontend services
  docker-compose.yml
Due: validate-yaml

fix: add fileReplacements for production build to use environment.prod.ts
  frontend/angular.json
Due: validate-json

fix: add frontend .dockerignore to exclude node_modules from Docker context
  frontend/.dockerignore
Due: none

feat: add seed data matching NestJS app, fix docker-compose context path and healthcheck
  backend/src/main/resources/seed.sql
  docker-compose.yml
Due: validate-yaml

Add root-level Dockerfile.backend for Railway deployment
  Dockerfile.backend
Due: none

Remove subdirectory Dockerfiles to avoid Railway confusion
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Add root-level Dockerfile.frontend for Railway deployment
  Dockerfile.frontend
Due: none

Update nginx.conf to use Railway internal URL for backend proxy
  frontend/nginx.conf
Due: none

Fix seed.sql: add missing columns for underwriter and fix submitted_at values
  backend/src/main/resources/seed.sql
Due: none

fix: unwrap paginated API response in getApplications, suppress test stderr
  frontend/src/app/core/services/loan.service.spec.ts
  frontend/src/app/core/services/loan.service.ts
  frontend/src/app/features/dashboard/dashboard.spec.ts
  frontend/src/app/shared/error-boundary.spec.ts
Due: lint-frontend, test-frontend

feat: add global API response envelope unwrap interceptor
  frontend/src/app/core/interceptors/api-response.interceptor.ts
Due: lint-frontend, test-frontend

feat: add global API envelope unwrap interceptor, simplify loan service
  frontend/src/app/app.config.ts
  frontend/src/app/core/services/loan.service.spec.ts
  frontend/src/app/core/services/loan.service.ts
  frontend/src/app/features/dashboard/dashboard.spec.ts
Due: lint-frontend, test-frontend

fix: remove redundant logout button from dashboard
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

feat: add filter, sort, welcome greeting, status tags, dates to dashboard
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

fix: use signals for statusFilter/sortBy so computed reactivity works
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

fix: lowercase before capitalize in formatStatus
  frontend/src/app/features/dashboard/dashboard.spec.ts
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

test: rewrite loan-form tests for multi-step component
  frontend/src/app/features/loan/loan-form.spec.ts
  frontend/src/app/features/loan/loan-form.ts
Due: lint-frontend, test-frontend

feat: redesign loan-detail with cards, status tags, timeline, vehicle info
  frontend/src/app/features/loan/loan-detail.ts
Due: lint-frontend, test-frontend

feat: add delete draft button, 2-col grid layout, improved empty state to dashboard
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

test: add delete draft and confirm cancel tests to dashboard spec
  frontend/src/app/features/dashboard/dashboard.spec.ts
Due: lint-frontend, test-frontend

test: comprehensive loan-form tests matching React stepper coverage
  frontend/src/app/features/loan/loan-form.spec.ts
Due: lint-frontend, test-frontend

feat(auth): enhance AccountLocked with two-state UI, styled alerts, localStorage fallback
  frontend/src/app/features/auth/account-locked.ts
Due: lint-frontend, test-frontend

feat(auth): enhance ConfirmEmail with two-state UI, styled alerts, localStorage fallback
  frontend/src/app/features/auth/confirm-email.ts
Due: lint-frontend, test-frontend

feat(auth): enhance ForgotPassword with gradient bg, styled alerts, spinner, validation UX
  frontend/src/app/features/auth/forgot-password.ts
Due: lint-frontend, test-frontend

feat(auth): enhance Login with gradient bg, brand header, forgot password link, styled UI
  frontend/src/app/features/auth/login.ts
Due: lint-frontend, test-frontend

feat(auth): enhance Signup with confirm password, gradient bg, two-column names, styled UI
  frontend/src/app/features/auth/signup.ts
Due: lint-frontend, test-frontend

feat(auth): enhance ResetPassword with gradient bg, styled alerts, validation UX, spinner
  frontend/src/app/features/auth/reset-password.ts
Due: lint-frontend, test-frontend

feat(landing): add LandingPage with hero, payment calculator, Apply Now CTA
  frontend/src/app/features/auth/landing.spec.ts
  frontend/src/app/features/auth/landing.ts
Due: lint-frontend, test-frontend

feat(routes): add landing page as root route, add wildcard redirect
  frontend/src/app/app.routes.ts
Due: lint-frontend, test-frontend

feat(dashboard): add header bar with Settings/Logout, loading spinner, error alert, approved link
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

feat(settings): add header bar, card layout, styled alerts/buttons, polished UI
  frontend/src/app/features/dashboard/settings.ts
Due: lint-frontend, test-frontend

feat(loan-officer): add stats cards, table layout, search, header bar, styled UI
  frontend/src/app/features/dashboard/loan-officer-dashboard.ts
Due: lint-frontend, test-frontend

fix(underwriter): cast through unknown for Record type access
  frontend/src/app/features/dashboard/underwriter-dashboard.ts
Due: lint-frontend, test-frontend
