Repository ltphongssvn/autoloanAngularSpringBoot: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-json, validate-yaml, lint-frontend, compile-backend, test-backend, test-frontend

validate-json:
  name: Validate JSON Files
  entry: bash -c 'for f in "$@"; do python3 -c "import json,sys; json.load(open(sys.argv[1]))" "$f" || exit 1; done' --
  language: system

validate-yaml:
  name: Validate YAML Files
  entry: bash -c 'for f in "$@"; do python3 -c "import yaml,sys; yaml.safe_load(open(sys.argv[1]))" "$f" || exit 1; done' --
  language: system

lint-frontend:
  name: Angular Lint (Frontend)
  entry: bash -c 'cd frontend && npx ng lint'
  language: system
  pass_filenames: false

compile-backend:
  name: Maven Compile (Backend)
  entry: bash -c 'cd backend && mvn compile -q'
  language: system
  pass_filenames: false

test-backend:
  name: Backend Unit Tests (Maven + JaCoCo)
  entry: bash -c 'cd backend && mvn test -q'
  language: system
  pass_filenames: false

test-frontend:
  name: Frontend Unit Tests (Vitest)
  entry: bash -c 'cd frontend && npx ng test --no-watch'
  language: system
  pass_filenames: false

feat: add auth DTOs (LoginRequest, SignupRequest, AuthResponse) with validation tests
  backend/src/main/java/com/autoloan/backend/dto/auth/AuthResponse.java
  backend/src/main/java/com/autoloan/backend/dto/auth/LoginRequest.java
  backend/src/main/java/com/autoloan/backend/dto/auth/SignupRequest.java
  backend/src/test/java/com/autoloan/backend/dto/auth/AuthDtoTest.java
Due: compile-backend, test-backend

feat: add BadRequestException
  backend/src/main/java/com/autoloan/backend/exception/BadRequestException.java
Due: compile-backend, test-backend

fix: add test application.properties with create-drop to suppress Hibernate DDL warnings
  backend/src/test/resources/application.properties
Due: none

fix: add H2 test dependency for in-memory test database
  backend/pom.xml
  backend/src/test/java/com/autoloan/backend/exception/BadRequestExceptionTest.java
Due: compile-backend, test-backend

feat: add UnauthorizedException
  backend/src/main/java/com/autoloan/backend/exception/UnauthorizedException.java
Due: compile-backend, test-backend

fix: correct SecurityAuditLogTest to expect boolean default false
  backend/src/main/java/com/autoloan/backend/model/SecurityAuditLog.java
  backend/src/main/java/com/autoloan/backend/model/Vehicle.java
  backend/src/test/java/com/autoloan/backend/model/SecurityAuditLogTest.java
Due: compile-backend, test-backend

test: add UnauthorizedException test
  backend/src/test/java/com/autoloan/backend/exception/UnauthorizedExceptionTest.java
Due: compile-backend, test-backend

feat: add AccountLockedException
  backend/src/main/java/com/autoloan/backend/exception/AccountLockedException.java
Due: compile-backend, test-backend

test: add AccountLockedException test
  backend/src/test/java/com/autoloan/backend/exception/AccountLockedExceptionTest.java
Due: compile-backend, test-backend

feat: add ResourceNotFoundException class
  backend/src/main/java/com/autoloan/backend/exception/ResourceNotFoundException.java
Due: compile-backend, test-backend

test: add ResourceNotFoundException test
  backend/src/test/java/com/autoloan/backend/exception/ResourceNotFoundExceptionTest.java
Due: compile-backend, test-backend

feat: add GlobalExceptionHandler with validation support
  backend/src/main/java/com/autoloan/backend/exception/GlobalExceptionHandler.java
Due: compile-backend, test-backend

test: add GlobalExceptionHandler tests
  backend/src/test/java/com/autoloan/backend/exception/GlobalExceptionHandlerTest.java
Due: compile-backend, test-backend

test: add handleValidation coverage to GlobalExceptionHandler tests
  backend/src/test/java/com/autoloan/backend/exception/GlobalExceptionHandlerTest.java
Due: compile-backend, test-backend

feat: add AuthService with signup and login
  backend/src/main/java/com/autoloan/backend/service/AuthService.java
Due: compile-backend, test-backend

test: add AuthService unit tests
  backend/src/test/java/com/autoloan/backend/service/AuthServiceTest.java
Due: compile-backend, test-backend

feat: add AuthController with signup and login endpoints
  backend/src/main/java/com/autoloan/backend/controller/AuthController.java
Due: compile-backend, test-backend

test: add AuthController unit tests
  backend/src/test/java/com/autoloan/backend/controller/AuthControllerTest.java
Due: compile-backend, test-backend

feat: add UserProfileResponse and UserUpdateRequest DTOs
  backend/src/main/java/com/autoloan/backend/dto/user/UserProfileResponse.java
  backend/src/main/java/com/autoloan/backend/dto/user/UserUpdateRequest.java
Due: compile-backend, test-backend

test: add User DTO tests
  backend/src/test/java/com/autoloan/backend/dto/user/UserProfileResponseTest.java
  backend/src/test/java/com/autoloan/backend/dto/user/UserUpdateRequestTest.java
Due: compile-backend, test-backend

feat: add UserService with getProfile and updateProfile
  backend/src/main/java/com/autoloan/backend/service/UserService.java
Due: compile-backend, test-backend

test: add UserService unit tests
  backend/src/test/java/com/autoloan/backend/service/UserServiceTest.java
Due: compile-backend, test-backend

fix: remove unnecessary stubbing in UserControllerTest
  backend/src/main/java/com/autoloan/backend/controller/UserController.java
  backend/src/test/java/com/autoloan/backend/controller/UserControllerTest.java
Due: compile-backend, test-backend

feat: add Loan DTOs with validation and tests
  backend/src/main/java/com/autoloan/backend/dto/loan/LoanApplicationRequest.java
  backend/src/main/java/com/autoloan/backend/dto/loan/LoanApplicationResponse.java
  backend/src/test/java/com/autoloan/backend/dto/loan/LoanApplicationRequestTest.java
  backend/src/test/java/com/autoloan/backend/dto/loan/LoanApplicationResponseTest.java
Due: compile-backend, test-backend

feat: add LoanService with create/get/list/submit and tests
  backend/src/main/java/com/autoloan/backend/service/LoanService.java
  backend/src/test/java/com/autoloan/backend/service/LoanServiceTest.java
Due: compile-backend, test-backend

feat: add LoanController with CRUD/submit endpoints and tests
  backend/src/main/java/com/autoloan/backend/controller/LoanController.java
  backend/src/test/java/com/autoloan/backend/controller/LoanControllerTest.java
Due: compile-backend, test-backend

feat: add Angular auth service, interceptor, guard with tests
  .secrets.baseline
  frontend/src/app/core/guards/auth.guard.spec.ts
  frontend/src/app/core/guards/auth.guard.ts
  frontend/src/app/core/interceptors/auth.interceptor.spec.ts
  frontend/src/app/core/interceptors/auth.interceptor.ts
  frontend/src/app/core/models/auth.model.ts
  frontend/src/app/core/services/auth.service.spec.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Due: lint-frontend, test-frontend

feat: add Angular auth core with tests - service, interceptor, guard, setup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.spec.ts
  frontend/src/setup.ts
  frontend/vitest.config.ts
Due: validate-json, lint-frontend, test-frontend

fix: use valid-length password in login failure test
  .secrets.baseline
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/features/auth/login.spec.ts
  frontend/src/app/features/auth/login.ts
  frontend/src/app/features/auth/signup.spec.ts
  frontend/src/app/features/auth/signup.ts
Due: lint-frontend, test-frontend

fix: trigger ngOnInit with detectChanges in dashboard tests
  .secrets.baseline
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/loan.model.ts
  frontend/src/app/core/services/loan.service.spec.ts
  frontend/src/app/core/services/loan.service.ts
  frontend/src/app/features/dashboard/dashboard.spec.ts
  frontend/src/app/features/dashboard/dashboard.ts
Due: lint-frontend, test-frontend

fix: allow null vehicleMileage in LoanApplicationRequest
  .secrets.baseline
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/loan.model.ts
  frontend/src/app/features/loan/loan-detail.spec.ts
  frontend/src/app/features/loan/loan-detail.ts
  frontend/src/app/features/loan/loan-form.spec.ts
  frontend/src/app/features/loan/loan-form.ts
Due: lint-frontend, test-frontend

feat: add user profile service, component, routes with tests
  .secrets.baseline
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/user.service.spec.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/profile/profile.spec.ts
  frontend/src/app/features/profile/profile.ts
Due: lint-frontend, test-frontend

fix: update SecurityConfig and SecurityConfigTest to use /api prefixed paths
  .secrets.baseline
  backend/src/main/java/com/autoloan/backend/config/SecurityConfig.java
  backend/src/test/java/com/autoloan/backend/config/SecurityConfigTest.java
  backend/src/test/java/com/autoloan/backend/integration/AuthIntegrationTest.java
  backend/src/test/java/com/autoloan/backend/integration/BaseIntegrationTest.java
  frontend/src/app/app.routes.ts
  frontend/src/app/core/models/user.model.ts
  frontend/src/app/core/services/user.service.spec.ts
  frontend/src/app/core/services/user.service.ts
  frontend/src/app/features/profile/profile.spec.ts
  frontend/src/app/features/profile/profile.ts
Due: lint-frontend, compile-backend, test-backend, test-frontend

fix: remove hardcoded H2 driver to allow CI PostgreSQL auto-detection
  backend/src/test/resources/application.properties
Due: none

feat: separate e2e integration tests into distinct CI job
  .github/workflows/ci.yml
  .secrets.baseline
Due: validate-yaml

fix: correct Surefire test pattern for e2e integration tests
  .github/workflows/ci.yml
Due: validate-yaml

fix: use singleton container pattern to share PostgreSQL across integration tests
  backend/src/test/java/com/autoloan/backend/integration/BaseIntegrationTest.java
  backend/src/test/java/com/autoloan/backend/integration/UserIntegrationTest.java
Due: compile-backend, test-backend

feat: add loan application integration tests
  backend/src/test/java/com/autoloan/backend/integration/LoanIntegrationTest.java
Due: compile-backend, test-backend

feat: add DocumentResponse DTO
  backend/src/main/java/com/autoloan/backend/dto/document/DocumentResponse.java
Due: compile-backend, test-backend

test: add DocumentResponse DTO tests
  backend/src/test/java/com/autoloan/backend/dto/document/DocumentResponseTest.java
Due: compile-backend, test-backend

Path conditions:
  validate-json: any of: \.json$, but not: (node_modules/|.vscode/|tsconfig.*.json)
  validate-yaml: any of: \.(yaml|yml)$
  lint-frontend: any of: ^frontend/src/.*\.(ts|html)$
  compile-backend: any of: ^backend/src/.*\.java$
  test-backend: any of: ^backend/src/.*\.java$
  test-frontend: any of: ^frontend/src/.*\.(ts|html)$
